[submodule "tinker-atropos"]
	path = tinker-atropos
	url = https://github.com/nousresearch/tinker-atropos

[submodule "moss_tts_nano_repo"]
	path = moss_tts_nano_repo
	url = https://github.com/OpenMOSS/MOSS-TTS-Nano.git
